/* * {
    background-color: #18191a;
} */

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
}

/* begin nav-left section */
.body-nav-left {
    width: 25vw;
    height: 100%;
    max-height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-nav-left-top {
    display: flex;
    flex-direction: column;
}

.body-nav-left-top button {
    width: 100%;
    padding: 0.5rem;
}
/* end nav-left section */

/* begin nav-middle section */
.body-nav-center {
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.story-card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* width: 3.25rem; */
    height: 6.5rem;
}

#my-story-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 2rem;
}

.story-card {
    height: 100%;
    /* max-width: 2rem; */
    width: 3.25rem;
    margin: 0 auto;
}

.status-update-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
}

.status-update-top {
    display: flex;
    /* text-align: center; */
    margin: 1rem auto;
}

.status-update-bottom {
    display: flex;
    /* text-align: center; */
    margin: 1rem auto;
}

.content-card {
    border: 1px solid black;
    text-align: left;
    margin: 1rem 0;
    border-radius: 6px;
    /* height: 42rem; */
}

.content-card-profile-row {
    display: flex;
}

.name-field-container {
    width: 85%;
}

.content-card-bottom-buttons {
    display: flex;
    justify-content: space-evenly;
}

.comment-add-comment {
    width: 90%;
}

.comment-add-comment input {
    width: 90%;
    border-radius: 6px;
}
/* end nav-middle section */

/* beginning of nav-right section */
.body-nav-right {
    width: 25vw;
    height: 100%;
    max-height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
}

.body-nav-right-top {
    width: 100%;
}

.info-card {
    width: 100%;
    padding: 1rem;
}

.info-card-row1 {
    display: flex;
    justify-content: space-between;
}

.body-nav-right-bottom {
    display: flex;
    flex-direction: column;
}

.body-nav-right-bottom button {
    padding: 0.5rem;
}
.body-nav-right-bottom-header {
    display: flex;
    justify-content: space-between;
}
/* end nav-right section */